<%= form_with(model: [ commentable, Comment.new ]) do |form| %>
  <div class="form-group">
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter ,:class=>"form-control"%>
  </div>
  <div class="form-group">
    <%= form.label :body %><br>
    <%= form.text_area :body ,:class=>"form-control" ,:id=>"exampleFormControlTextarea1" ,:rows=>"3"%>
  </div>
  <div class="form-group">
    <%= form.submit :class => 'btn btn-primary'%>
  </div>
<% end %>