<h1 class="display-4">Listing Articles</h1>
 
<%= link_to 'New article', new_article_path ,:class=>"text-decoration-none btn btn-primary ml-5"%>

<div class="container mt-4">
  <div class="row border-bottom">
    <div class="col-sm font-weight-bold">
        Title
    </div>
    <div class="col-sm font-weight-bold">
        Text
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>
  </div>
   <% @articles.each do |article| %>
      <div class="row mt-4">
        <div class="col-sm font-weight-bold">
            <%= article.title %>
        </div>
        <div class="col-sm">
            <%= article.text %>
        </div>
        <div class="col-sm">
            <%= link_to 'Show', article_path(article), :class=>"text-decoration-none" %>
        </div>
        <div class="col-sm">
            <%= link_to 'Edit', edit_article_path(article), :class=>"text-decoration-none" %>
        </div>
        <div class="col-sm">
            <%= link_to 'Destroy', article_path(article.id),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class=>"text-decoration-none" %>
        </div>
      </div>
   <% end %>
</div>