<div class="container mt-5 mb-5">
    <div>
        <% @articles.each do |article| %>
            <div class="row mt-5 justify-content-around align-items-center ">
                <div class="col-3">
                    <div class="row mt-1">
                    <p class="font-weight-bolder h1"> <%= article.title %></p>
                    </div>
                    <div class="row mt-3 ml-5">
                        <%= article.author %>
                    </div>
                    <div class="row mt-2 ml-5">
                        <div >
                            <%= article.date %>
                        </div>
                        <div class="ml-2">
                            * <%= article.readingtime %> read
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <a href="/articles/<%=article.id%>"><%= image_tag(article.image, :class=>"w-100")%></a>
                </div>
            </div>
        <% end %>
   </div>
    <div class="mt-5">
        <%= link_to 'New article', new_article_path ,:class=>"text-decoration-none btn btn-primary ml-5" %>
    </div>
</div>