<div id=show_body>
    <div id="container">
        <div class="image-container">
            <%= image_tag(@article.image)%>
        </div>
        <h1 class="display-1 font-weight-bolder"><%= @article.title %></h1>

      
        <div id="content">
          <%= @article.text %>
        </div>

        <h2>Comments</h2>
        <%= render @article.comments %>

        <h2>Add a comment:</h2>
        <%= render 'comments/form' %>

        <%= link_to 'Edit', edit_article_path(@article) %> 

        <%= link_to 'Back', articles_path %>

    </div>
</div>